body,
h1 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    max-width: 42rem;
    margin: 3rem auto;
}

h1 {
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    background: linear-gradient(
        90deg,
        rgba(0, 136, 164, 1) 1%,
        rgba(0, 115, 119, 1) 50%,
        rgba(57, 88, 102, 1) 100%
    );
    text-align: center;
    padding: 1.25rem 0;
    font-size: 1.125rem;
}

ul {
    padding-left: 1.2rem;
}

ul li {
    margin-top: 0.5rem;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 1.5rem 0;
    color: rgb(87, 87, 87);
}

footer div:not(:first-of-type) {
    margin-top: 0.5rem;
}

.project-heading {
    border-bottom: 1px solid rgb(170, 170, 170);
}
